*
{
    margin: 0;
    padding: 0;
}

body
{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "profile career"
    "profile education"
    "profile qualification"
    "profile hobbies"
    "footer footer";
    background-color: rgb(44, 90, 165);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    overflow-y: scroll;
}

/* HEADER CSS */
.header
{
    grid-area: header;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.658);
    color: white;
}

.header img
{
    border-radius: 50%;
}

.header nav
{
    font-size: 1.5rem;
}

/* INTRODUCTION CSS */
.introduction
{
    grid-area: profile;
    background-color: rgba(39, 73, 137, 0.765);
}

.introduction img
{
    width: 40%;
    height: auto;
    display: block;
    margin: 1rem auto 1rem auto;
    border: 1rem double wheat;
}

.introduction h3
{
    color: ghostwhite;
    text-align: center;
}

.intro-paragraph
{
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    border-top: 0.5rem solid wheat;
    color: ghostwhite;
}

.skill-container
{
    margin: 1rem;
    padding: 0.5rem;
    border-bottom: 0.5rem solid wheat;
    color: ghostwhite;
}

.skill-container p
{
    padding-top: 0.5rem;
}

.bar-container
{
    width: 100%;
    background-color: #DDD;
}

.skills
{
    text-align: right;
    color: ghostwhite;
    padding: 0.15rem;
}

.c
{
    width: 78%;
    background-color: rgb(103, 1, 20);
}

.web
{
    width: 69%;
    background-color: rgb(22, 162, 41);
}

.design
{
    width: 89%;
    background-color: rgb(85, 26, 122);
}

.scripting
{
    width: 80%;
    background-color: rgb(29, 54, 196);
}

/* CAREER CSS */
.career
{
    grid-area: career;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.table-container
{
    position: relative;
    font-size: 0.9rem;
    width: fit-content;
    height: fit-content;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: rgba(240, 248, 255, 0.758);
}

table caption
{
    white-space: nowrap;
    background-color: rgb(32, 118, 194);
    font-size: 1rem;
    text-align: center;
    color: ghostwhite;
    width: 40%;
}

table th
{
    background-color: rgb(32, 118, 194);
    color: ghostwhite;
}

.details p
{
    font-size: 0.7rem;
}

.marco
{
    background-color: aliceblue;
}

.polo
{
    background-color: rgba(114, 144, 233, 0.701);
}

/* EDUCATION CSS */
.education
{
    grid-area: education;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

/* QUALIFICATION CSS */
.qualifications
{
    grid-area: qualification;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

/* HOBBIES CSS */
.hobbies
{
    grid-area: hobbies;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    background-color: aliceblue;
}

.hobbies-container ol p
{
    background-color: rgba(114, 144, 233, 0.701);
    margin-bottom: 1rem;
}

/* FOOTER CSS */
.footer
{
    grid-area: footer;
}